*{
    margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: border-box;
    width: 100%;
}
.navbar{
    height: 110px;
    background-color: chocolate;
    color: white;
    display: flex;
}
.navlogo{
    height: 90px;
    width: 130px;
}
.logo{
    background-image: url(https://www.vvitguntur.com/images/logo.png);
    background-size: cover;
    margin-top: 40px;
    height: 150px;
    width: 220px;
}
.border {
    border : 2px solid transparent;
}
.border:hover {
    border : 2px solid white
}
.notification{
    margin: 25px 15px 30px 150px;
    display: flex;
}
.noti-box {
    display: flex;
    height: 40px;
    width: 950px;
    padding: 9px 36px;
    font-weight: bold;
    border-radius: 0;
    background: #04a5f6;
    color: #2c1269;
    border: 2px solid #234095;
    position: relative;
    margin-right: 20px;
    border-radius: 26px;
   
}   


.navsearch{
  display: flex;
}

.mainbar{
    height: 140px;
    background-color: chocolate;
    color: white;
    display: flex;
}



   


