*{
    width: 100%; margin: 0;
}
.navbar{
  display:block;
  background-color: chocolate;
}

.nav1{
    width: 100%;
    height: 140px;
    border: none;
    display: flex;
}
.logo{
    padding: 2PX;
    background-image:url(VVIT_Logo.png);
    background-size: cover;
    height: 120px;
    width: 180px;
    margin: 0 0 0 5px;
}
.border {
    border : 2px solid transparent;
}
.border:hover {
    border : 2px solid rgb(255, 255, 255)
}
.nav2{
    height: 140px;
    border: none;
}
.slide{
   height: 570px;
   background-color: whitesmoke;
}
.events{
    height: 460px;
    background-color: aquamarine;
}
.ls-event{
  height: 200px;
  background-color: cornflowerblue;
}
.gallery{
    height: 600px;
    background-color: rgb(239, 124, 16);
}
.last{
    height: 500px;
    background-color: black;
}